*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif
}


nav{
    width: 1200px;
    height: 95px;
    align-items: center;

    display: flex;
    justify-content: space-between;
    margin: auto;
    padding:0px 120px;
    border-radius: 4px;
background: var(--#30B868, rgba(70, 145, 101, 1));
}
nav ul {
    display: flex;
 
     list-style: none;
}
nav ul a{
    text-decoration: none;
    padding: 10px;
    color: black;
   
}
nav button{
    
width: 164px;
height: 45px;
margin: 15px 0px;
border-radius: 4px;
background: #30B868;
cursor: pointer;
}
nav button:hover{
    background-color: aquamarine;

}

nav img{
    width: 140px;
    height: 61px;
}
div img{
    width: 1200px;
height: 800px;
margin: auto 40px;
}
.head {
 width: 1200px; 
 margin: 40px auto;  
display: flex;
gap: 16px;


}
.box1 img{
background: rgba(249, 85, 85, 1);
  
width: 60px;
height: 60px;
position: relative;
margin: 20px 90px;
border-radius: 50%;
}
.box1{
width: 325px;
height: 300px;
padding: 10px;
border-radius: 8px;
box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
background: rgba(255, 255, 255, 1);

}
main h2{
font-style: Bold;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}
main p{
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
}
main .text1{
    width: 1200px;
    height: 100px;
   

}
main .text2{
    width: 1200px;
    height: 20px;
    
}
 .box1 h2{
 font-style: Semi Bold;
font-size: 20px;
font-weight: 200px;
line-height: 29px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}
.box1 p{
    font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
}
.about{
    width: 1200px;
    height: 700px;
    display: flex;
    margin: auto;
    justify-content: flex-start;
    align-items: flex-start;
    
  
}
.Knowledge img{
    width: 500px;
    height: 500px;
    padding: 1px;

}
.solution{
width: 650px;
height: 380px;
display: flex;
gap: 40px;
flex-direction: column;
justify-content: flex-start;
align-items:flex-start;
padding: 12px;


}
.solution p{
     font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
color: var(--#627382, rgba(98, 115, 130, 1));


}
.log{
    width: 670px;
    height: 125px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}
.log div img{
    width: 20px;
    height: 20px;
}
.log div{
    width: 670px;
    height: 20px;

}
.bangladesh{
  width:1200px;
  height:100px;
}
.button{
width: 1200px;
height: 85px;
}
.hello{
width: 1200px;
height: 350px;
display: flex;
margin: auto;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 19px;
padding: 50px;
border-radius: 12px;
background: rgba(247, 246, 242, 1);

}
.bangladesh{
    margin: 20px;
}
.bangladesh h1{
    text-align: center;
}
.bangladesh p{
      text-align: center;
      color: #627382;
      


}
.button{
    margin: 50px;
}
 

.button button:hover{
    background-color: aquamarine;
}
.button p{
 
    text-align: center;
    margin: 20px;
}
.button button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 12px 16px 12px 16px;
margin: 0px auto;
background-color: #30B868;
cursor: pointer;
}
.button button img{
    width:15px;
    height: 15px;
}
.icon{
    width:1200px;
    height: 50px;
    text-align: center;
    margin: 80px;
    color: white;
}
.li{width:1200px;
    height:60px;

}
.li ul {
    color: white;
}
.footer{
    width: 1200px;
    height: 340px;
    padding: 120px 80px;
    margin: auto;
    background-color: var(--Style, rgba(0, 25, 49, 1));
    
}