*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif
}


nav{
    width: 1200px;
    height: 95px;
    align-items: center;

    display: flex;
    justify-content: space-between;
    margin: auto;
    padding:0px 120px;
    border-radius: 4px;
background: var(--#30B868, rgba(70, 145, 101, 1));
}
nav ul {
    display: flex;
 
     list-style: none;
}
nav ul a{
    text-decoration: none;
    padding: 10px;
    color: black;
   
}
nav button{
    
width: 164px;
height: 45px;
margin: 15px 0px;
border-radius: 4px;
background: #30B868;
cursor: pointer;

}
nav img{
    width: 140px;
    height: 61px;
}
div img{
    width: 1200px;
height: 800px;
margin: auto 40px;
}
.head {
  display: flex;
  gap: 16px;
padding: 120px;
margin: ;
}
.box1 img{
background: rgba(249, 85, 85, 1);
  
width: 60px;
height: 60px;
position: relative;
margin: 20px 90px;
border-radius: 50%;
}
.box1{
width: 325px;
height: 300px;
padding: 10px;
border-radius: 8px;
box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
background: rgba(255, 255, 255, 1);

}
main h2{
font-style: Bold;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}
main p{
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
}
main .text1{
    width: 1200px;
    height: 100px;
   

}
main .text2{
    width: 1200px;
    height: 20px;
    
}
 .box1 h2{
 font-style: Semi Bold;
font-size: 20px;
font-weight: 200px;
line-height: 29px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}
.box1 p{
    font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
}